# .env.example
HF_TOKEN=your_huggingface_token_here
HF_REPO=varuntejreddy/medrag
FAISS_FILENAME=ddxplus_faiss.index
KG_FILENAME=advanced_medrag_kg.json
DRIVE_INDEX_URL=
DRIVE_KG_URL=
LLM_MODEL=mistralai/Mistral-7B-Instruct-v0.2
FAISS_NPROBE=4